[submodule "rc3-Astralship"]
	path = rc3-Astralship
	url = git@github.com:DarthPJB/rc3-Astralship.git
[submodule "engineering"]
	path = engineering
	url = git@github.com:DarthPJB/Astral-ship-engineering.git
[submodule "NixNotifier"]
	path = NixNotifier
	url = git@github.com:DarthPJB/ESP32-GitHubNotificator.git
