[submodule "Nixnotifier"]
	path = NixNotifier
	url = git@github.com:DarthPJB/ESP32-GitHubNotificator.git
[submodule "rc3-Astralship"]
	path = rc3-Astralship
	url = git@github.com:DarthPJB/rc3-Astralship.git
[submodule "Engineering"]
	path = Engineering
	url = git@github.com:DarthPJB/Astral-ship-engineering.git
